In [5]:
import numpy as np
import pandas as pd

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df=pd.read_csv('song_data.csv')
triplets_df=pd.read_csv('triplets_file.csv')

In [8]:
df.head()

,song_id,title,release,artist_name,year
0,SOQMMHC12AB0180CB8,Silent Night,Monster Ballads X-Mas,Faster Pussy cat,2003
1,SOVFVAK12A8C1350D9,Tanssi vaan,Karkuteillä,Karkkiautomaatti,1995
2,SOGTUKN12AB017F4F1,No One Could Ever,Butter,Hudson Mohawke,2006
3,SOBNYVR12A8C13558C,Si Vos Querés,De Culo,Yerba Brava,2003
4,SOHSBXH12A8C13B0DF,Tangle Of Aspens,Rene Ablaze Presents Winter Sessions,Der Mystic,0

In [9]:
triplets_df.head()

                                    user_id             song_id  listen_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995             1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B             2
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBXHDL12A81C204C0             1
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBYHAJ12A6701BF1D             1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SODACBL12A8C13C273             1

### First-time recommendation — what the system recommends after the user logins for the first time

In [10]:
df=pd.merge(triplets_df,df,on='song_id')
df.head()

,user_id,song_id,listen_count,title,release,artist_name,year
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,The Cove,Thicker Than Water,Jack Johnson,0
1,7c86176941718984fed11b7c0674ff04c029b480,SOAKIMP12A8C130995,1,The Cove,Thicker Than Water,Jack Johnson,0
2,76235885b32c4e8c82760c340dc54f9b608d7d7e,SOAKIMP12A8C130995,3,The Cove,Thicker Than Water,Jack Johnson,0
3,250c0fa2a77bc6695046e7c47882ecd85c42d748,SOAKIMP12A8C130995,1,The Cove,Thicker Than Water,Jack Johnson,0
4,3f73f44560e822344b0fb7c6b463869743eb9860,SOAKIMP12A8C130995,6,The Cove,Thicker Than Water,Jack Johnson,0

In [11]:
listens=pd.DataFrame(df.groupby('title')['listen_count'].sum().sort_values(ascending=False))
listens.head()

                                                    listen_count
title
You're The One                                             54915
Undo                                                       49253
Revelry                                                    41418
Horn Concerto No. 4 in E flat K495: II. Romance...         31153
Sehr kosmisch                                              31036

In [12]:
listen_count=df.groupby('title')['listen_count'].count().sort_values(ascending=False)
listen_count.head()

title
Sehr kosmisch                     8277
Use Somebody                      7952
Undo                              7032
Dog Days Are Over (Radio Edit)    6949
You're The One                    6729
Name: listen_count, dtype: int64

In [13]:
musicmat=df.pivot_table(index='user_id',columns='title',values='listen_count')
musicmat.head()

title,#!*@ You Tonight [Featuring R. Kelly] (Explicit Album Version),#40,& Down,' Cello Song,'97 Bonnie & Clyde,'Round Midnight,'Til We Die (Album Version),'Till I Collapse,('Til) I Kissed You,(Anaesthesia) Pulling Teath,...,sillyworld (Album Version),sleep_ eat food_ have visions,smile around the face,sun drums and soil,teachme (Album Version),the Love Song,you were there with me,¡Viva La Gloria! (Album Version),¿Lo Ves? [Piano Y Voz],Época
user_id,,,,,,,,,,,,,,,,,,,,,
00003a4459f33b92906be11abe0e93efc423c0ff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00005c6177188f12fb5e2e82cdbd93e8a3f35e64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00030033e3a2f904a48ec1dd53019c9969b6ef1f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0007235c769e610e3d339a17818a5708e41008d9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0007c0e74728ca9ef0fe4eb7f75732e8026a278b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
music_1_listen_count=musicmat['Use Somebody']
music_1_listen_count.head()

user_id
00003a4459f33b92906be11abe0e93efc423c0ff   NaN
00005c6177188f12fb5e2e82cdbd93e8a3f35e64   NaN
00030033e3a2f904a48ec1dd53019c9969b6ef1f   NaN
0007235c769e610e3d339a17818a5708e41008d9   NaN
0007c0e74728ca9ef0fe4eb7f75732e8026a278b   NaN
Name: Use Somebody, dtype: float64

In [15]:
similar_to_music_1 = musicmat.corrwith(music_1_listen_count)

C:\Users\benba\anaconda3\lib\site-packages\numpy\lib\function_base.py:2634: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\benba\anaconda3\lib\site-packages\numpy\lib\function_base.py:2493: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [16]:
corr_music1=pd.DataFrame(similar_to_music_1,columns=['Correlation'])
corr_music1.dropna(inplace=True)
corr_music1.head()

                             Correlation
title
#40                             0.040870
& Down                          0.660187
' Cello Song                    0.666667
'Round Midnight                 0.010409
'Til We Die (Album Version)    -0.242942

In [17]:
corr_music1=corr_music1.join(listens['listen_count'])
corr_music1.sort_values('Correlation',ascending=False).head(10)

                                   Correlation  listen_count
title
Kyle's Mom's A Bitch (LP Version)          1.0           378
Alone Again (Naturally)                    1.0           234
Radioactive Toy                            1.0           161
Chill Out (Things Gonna Change)            1.0           144
Jeane                                      1.0           635
Smalltown Boy                              1.0           261
So Long-Guthrie                            1.0           255
Prelude/Prologue                           1.0           495
An Ocean Between Us                        1.0           159
Preciso Me Encontrar                       1.0           240

In [18]:
def get_similar_songs(song):
    song_listen_count=musicmat[song]
    similar_song= musicmat.corrwith(song_listen_count)
    corr_song=pd.DataFrame(similar_song,columns=['Correlation'])
    corr_song.dropna(inplace=True)
    return corr_song.sort_values('Correlation',ascending=False)

In [20]:
get_similar_songs('Use Somebody').head(10)

C:\Users\benba\anaconda3\lib\site-packages\numpy\lib\function_base.py:2634: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\benba\anaconda3\lib\site-packages\numpy\lib\function_base.py:2493: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                   Correlation
title
Kyle's Mom's A Bitch (LP Version)          1.0
Alone Again (Naturally)                    1.0
Radioactive Toy                            1.0
Chill Out (Things Gonna Change)            1.0
Jeane                                      1.0
Smalltown Boy                              1.0
So Long-Guthrie                            1.0
Prelude/Prologue                           1.0
An Ocean Between Us                        1.0
Preciso Me Encontrar                       1.0